# Constraints File - PCB V1
# George Smart, M1GEO
# https://www.george-smart.co.uk/Numitron-Clock
# 19/10/2019 - 25/11/2019

BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "CLK_32K" SITE "87" ;
LOCATE COMP "H_ADJ" SITE "96" ;
LOCATE COMP "M_ADJ" SITE "99" ;
LOCATE COMP "NOISE_BUT" SITE "97" ;
LOCATE COMP "nRESET" SITE "98" ;
LOCATE COMP "pps" SITE "88" ;

LOCATE COMP "segA[0]" SITE "65" ; # seg A
LOCATE COMP "segA[1]" SITE "63" ; # seg B
LOCATE COMP "segA[2]" SITE "66" ; # seg C
LOCATE COMP "segA[3]" SITE "60" ; # seg D
LOCATE COMP "segA[4]" SITE "64" ; # seg E
LOCATE COMP "segA[5]" SITE "59" ; # seg F
LOCATE COMP "segA[6]" SITE "62" ; # seg G

LOCATE COMP "segB[0]" SITE "74" ; # seg A
LOCATE COMP "segB[1]" SITE "70" ; # seg B
LOCATE COMP "segB[2]" SITE "75" ; # seg C
LOCATE COMP "segB[3]" SITE "68" ; # seg D
LOCATE COMP "segB[4]" SITE "71" ; # seg E
LOCATE COMP "segB[5]" SITE "67" ; # seg F
LOCATE COMP "segB[6]" SITE "69" ; # seg G

LOCATE COMP "segC[0]" SITE "57" ; # seg A (6)
LOCATE COMP "segC[1]" SITE "53" ; # seg B (4)
LOCATE COMP "segC[2]" SITE "58" ; # seg C (7)
LOCATE COMP "segC[3]" SITE "51" ; # seg D (2)
LOCATE COMP "segC[4]" SITE "54" ; # seg E (5)
LOCATE COMP "segC[5]" SITE "49" ; # seg F (1)
LOCATE COMP "segC[6]" SITE "52" ; # seg G (3)

LOCATE COMP "segD[0]" SITE "47" ; # seg A (6)
LOCATE COMP "segD[1]" SITE "43" ; # seg B (4)
LOCATE COMP "segD[2]" SITE "48" ; # seg C (7)
LOCATE COMP "segD[3]" SITE "41" ; # seg D (2)
LOCATE COMP "segD[4]" SITE "45" ; # seg E (5)
LOCATE COMP "segD[5]" SITE "40" ; # seg F (1)
LOCATE COMP "segD[6]" SITE "42" ; # seg G (3)

LOCATE COMP "segE[0]" SITE "38" ; # seg A (6)
LOCATE COMP "segE[1]" SITE "36" ; # seg B (4)
LOCATE COMP "segE[2]" SITE "39" ; # seg C (7)
LOCATE COMP "segE[3]" SITE "34" ; # seg D (2)
LOCATE COMP "segE[4]" SITE "37" ; # seg E (5)
LOCATE COMP "segE[5]" SITE "32" ; # seg F (1)
LOCATE COMP "segE[6]" SITE "35" ; # seg G (3)

LOCATE COMP "segF[0]" SITE "29" ; # seg A (6)
LOCATE COMP "segF[1]" SITE "27" ; # seg B (4)
LOCATE COMP "segF[2]" SITE "30" ; # seg C (7)
LOCATE COMP "segF[3]" SITE "24" ; # seg D (2)
LOCATE COMP "segF[4]" SITE "28" ; # seg E (5)
LOCATE COMP "segF[5]" SITE "21" ; # seg F (1)
LOCATE COMP "segF[6]" SITE "25" ; # seg G (3)

LOCATE COMP "col[0]" SITE "1" ; # col A
LOCATE COMP "col[1]" SITE "2" ; # col B
LOCATE COMP "col[2]" SITE "4" ; # col C
LOCATE COMP "col[3]" SITE "3" ; # col D

IOBUF PORT "CLK_32K" IO_TYPE=LVCMOS33 ;
IOBUF PORT "H_ADJ" IO_TYPE=LVCMOS33 ;
IOBUF PORT "M_ADJ" IO_TYPE=LVCMOS33 ;
IOBUF PORT "NOISE_BUT" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nRESET" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pps" IO_TYPE=LVCMOS33 ;

IOBUF PORT "segA[0]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segA[1]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segA[2]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segA[3]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segA[4]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segA[5]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segA[6]" IO_TYPE=LVCMOS33 DRIVE=24 ;

IOBUF PORT "segB[0]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segB[1]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segB[2]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segB[3]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segB[4]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segB[5]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segB[6]" IO_TYPE=LVCMOS33 DRIVE=24 ;

IOBUF PORT "segC[0]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segC[1]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segC[2]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segC[3]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segC[4]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segC[5]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segC[6]" IO_TYPE=LVCMOS33 DRIVE=24 ;

IOBUF PORT "segD[0]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segD[1]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segD[2]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segD[3]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segD[4]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segD[5]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segD[6]" IO_TYPE=LVCMOS33 DRIVE=24 ;

IOBUF PORT "segE[0]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segE[1]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segE[2]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segE[3]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segE[4]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segE[5]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segE[6]" IO_TYPE=LVCMOS33 DRIVE=24 ;

IOBUF PORT "segF[0]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segF[1]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segF[2]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segF[3]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segF[4]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segF[5]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "segF[6]" IO_TYPE=LVCMOS33 DRIVE=24 ;

IOBUF PORT "col[0]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "col[1]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "col[2]" IO_TYPE=LVCMOS33 DRIVE=24 ;
IOBUF PORT "col[3]" IO_TYPE=LVCMOS33 DRIVE=24 ;